{
  "presets": [
    ["next/babel"]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-flow-strip-types",
    ["relay", { "artifactDirectory": "__generated__" }],
    "react-intl",
    "inline-react-svg"
  ]
}
